<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
  <meta charset="utf-8">
  <title><%= current_page.data.title || "My Name is Daniel - a Product Manager's curriculum vitae (CV)" %></title>
  <meta name="description" content="I am probably the Product Manager you are looking for."/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="author" href="humans.txt"/>
  <link rel="canonical" href="https://www.danielhollands.co.uk/<%= current_page.data.canonical %>"/>

  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"/>
  <link rel="shortcut icon" href="favicon.png"/>
  <link rel="icon" type="image/ico" href="favicon.ico"/>

  <!-- Open Graph: http://ogp.me/ -->
  <meta property="og:title" content="Daniel Hollands - Product Manager"/>
  <meta property="og:description" content="I am probably the Product Manager you are looking for."/>
  <meta property="og:url" content="https://www.danielhollands.co.uk/"/>
  <meta property="og:image" content="https://www.danielhollands.co.uk/open-graph.png"/>
  <meta property="og:locale" content="en_GB"/>
  <meta property="og:type" content="profile"/>
  <meta property="profile:first_name" content="Daniel"/>
  <meta property="profile:last_name" content="Hollands"/>
  <meta property="profile:username" content="daniel-hollands"/>
  <meta property="profile:gender" content="male"/>


<%= stylesheet_link_tag "application" %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "vendor/slabtext" %>
<%= javascript_include_tag "vendor/one-page-nav" %>
<%= javascript_include_tag "main" %>

</body>
</html>
