---
#title: Welcome to Middleman
#canonical: /
---

<div class="wrap">

  <%= partial "partials/menu" %>

    <article class="main" role="main">
      <%= partial "partials/header" %>
      <%= partial "partials/about-me" %>
      <%= partial "partials/key-skills" %>
      <%= partial "partials/education" %>
      <%= partial "partials/employment" %>
      <%= partial "partials/projects" %>
      <%= partial "partials/contact" %>
      <%= partial "partials/footer" %>
    </article><!-- .main -->

</div><!-- .wrap -->
